<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1>Your aura request was submitted!</h1>
  <p>You have submitted an aura request. Here are the details of your request:</p>
  <ul>
    <li>Job number: <%= @aura.job_number %></li>
    <li>Customer: <%= @aura.customer %></li>
    <li>Aura name: <%= @aura.name %></li>
    <li>Aura description: <%= @aura.description %></li>
    <li>Aura start date: <%= @aura.start_date %></li>
    <li>Aura end date: <%= @aura.end_date %></li>
  </ul>
  <p>
    Marketing Technology has been notified and will review your request shortly. Once they have reviewed the request, you will receive another email updating you on the status of your aura.
  </p>
</body>
</html>
