<h1 style="margin:20px 0; text-align:center; font-size:20px;">You've submitted an aura request</h1>
<p style="margin:20px 0">Hi there,</p>
<p style="margin: 20px 0;">It looks like you have submitted an aura request. Here are the details of your request:</p>
<ul style="margin: 20px 0;">
  <li><b>Aura name:</b> <%= @aura.name %></li>
  <li><b>Job number:</b> <%= @aura.job_num %></li>
  <li><b>Customer:</b> <%= @aura.customer_name %></li>
  <li><b>Aura description:</b> <%= @aura.description %></li>
  <li><b>Aura start date:</b> <%= Date.strftime(@aura.start_date, '%d %b %Y') %></li>
  <li><b>Aura end date:</b> <%= Date.strftime(@aura.end_date, '%d %b %Y') %></li>
</ul>
<p style="margin: 20px 0;">
Marketing Technology has been notified and will review your request shortly. Once they have reviewed the request, you will receive another email updating you on the status of your aura. This is usually pretty quick, but could take up to two business days. If your request needs to be expedited, please contact <a href="mailto:mktech@communicorp.com" style="color:2388e0">Marketing Technology</a> with any relevant information for your request.
</p>

