<div class="wrap">
  <fieldset>
    <%= simple_form_for @aura, url: auras_path do |f| %>
      <%= f.input :aura_name %>
      <%= f.input :description, as: :text %>
      <%= f.datetime :start_date %>
      <%= f.datetime :end_date %>
      <%= f.label :job_number %>
      <%= f.collection_select :job_number, JobNumber.all, :id, :number, include_blank: true %>
      or add a job number:
      <%= f.input :new_job_number %>
      <%= f.label :customer %>
      <%= f.collection_select :customer, Customer.all, :id, :name, include_blank: true %>
      or create one:
      <%= f.input :new_customer_name %>

      <%= f.button :submit %>
    <% end %>
  </fieldset>
</div>
