<div class="wrap">
  <div class="intro">
    <h1><%= @aura.name %> <small><%= @aura.job_num %> - <%= @aura.customer_name %></small></h1>
    <p><strong>Start date:</strong> <%= @aura.start_date %></p>
    <p><strong>End date:</strong> <%= @aura.end_date %></p>


    <p>This aura is currently <%= @aura.current_state %>.</p>
  </div>
</div>
