<!DOCTYPE html>
<html>
<head>
  <title>Tombstone</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="wrap">
    <h1 id="logo">Aurasma Dashboard</h1>
    <nav>
      <ul>
        <% if signed_in? %>
          Signed in as: <%= current_user.email %>
          <% if current_user.admin? %>
            <%= link_to 'Admin Dashboard', rails_admin.dashboard_path %>
          <% end %>
          <li><%= link_to 'Submit Aura request', new_aura_path %></li>
          <li><%= link_to 'Sign out', sign_out_path %></li>
        <% else %>
          <li><%= link_to 'Sign in', sign_in_path %></li>
          <li><%= link_to 'Sign up', sign_up_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <div id="flash">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </div>
<%= yield %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "application", params[:controller] %>
</body>
</html>
